name: CI

on:
  push:
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - name: Rustfmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Tests
        run: cargo test --all-features --locked

  release:
    needs: test
    if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, 'v') }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - name: Build (release)
        run: cargo build --release --locked

      - name: Collect binary (linux/macos)
        if: runner.os != 'Windows'
        run: |
          mkdir -p dist
          BIN="RandomClient"
          OUT="dist/${BIN}-${{ github.ref_name }}-${{ runner.os }}-${{ runner.arch }}"
          cp "target/release/$BIN" "$OUT"
          chmod +x "$OUT"

      - name: Collect binary (windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force dist | Out-Null
          $bin = "myapp.exe"  # <-- имя бинарника
          $out = "dist\myapp-${{ github.ref_name }}-${{ runner.os }}-${{ runner.arch }}.exe"
          Copy-Item "target\release\$bin" $out

      - name: Checksums (linux/macos)
        if: runner.os != 'Windows'
        run: |
          (cd dist && shasum -a 256 * > SHA256SUMS.txt) || true

      - name: Checksums (windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          Get-ChildItem dist\*.exe | ForEach-Object {
            $h = (Get-FileHash $_.FullName -Algorithm SHA256).Hash.ToLower()
            "$h  $($_.Name)" | Out-File -FilePath dist\SHA256SUMS.txt -Append -Encoding ascii
          }

      - name: Upload binaries to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            dist/*